/* NOTE: PLEASE PUT IN ALPHABETIC ORDER */

/* ========= [ MONTSERRAT] =========== */

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(../../assets/typography/montserrat/Montserrat-Thin.ttf) format(ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-ExtraLight'), url(../../assets/typography/montserrat/Montserrat-ExtraLight.ttf) format(ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Light'), url(../../assets/typography/montserrat/Montserrat-Light.ttf) format(ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url(../../assets/typography/montserrat/Montserrat-Regular.ttf) format(ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Medium'), url(../../assets/typography/montserrat/Montserrat-Medium.ttf) format(ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url(../../assets/typography/montserrat/Montserrat-Bold.ttf) format(ttf);
}

/* ========= [ SOURCE SANS PRO] =========== */

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-ExtraLight'), url(../../assets/typography/source-sans-pro/SourceSansPro-ExtraLight.ttf) format(ttf);
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-Light'), url(../../assets/typography/source-sans-pro/SourceSansPro-Light.ttf) format(ttf);
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-Regular'), url(../../assets/typography/source-sans-pro/SourceSansPro-Regular.ttf) format(ttf);
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;;
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-Bold'), url(../../assets/typography/source-sans-pro/SourceSansPro-Bold.ttf) format(ttf);
}